:root {
    --background: rgb(251, 251, 251);
    --color: rgb(9, 9, 9);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(36, 36, 36);
        --color: rgb(239, 239, 239);
    }
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

body {
    -webkit-text-size-adjust: none;
    background: var(--background);
    color: var(--color);
    font-family: -apple-system, sans-serif;
    margin: 0 auto;
    position: relative;
    width: 298px;
}

header {
    margin: 16px auto 48px auto;
    padding: 0 2px;
}

header h1 {
    display: table-cell;
    font-size: 18px;
    height: 32px;
    vertical-align: middle;
}

header h2 {
    font-size: 36px;
    margin-top: 16px;
}

header h3 {
    font-size: 15px;
}

main {
    margin: 30px auto;
}

main h1, main h2 {
    padding: 1px 2px;
}

main h1 {
    font-size: 24px;
}

main h2 {
    font-size: 15px;
}

nav {
    position: absolute;
    right: 0;
}

section {
    border: 2px solid;
    border-radius: 11px;
    margin: 32px 0;
    overflow: hidden;
}

section h3 {
    font-size: 18px;
    padding: 6px;
}

section h4 {
    padding: 3px 6px;
}

section h4 small {
    display: block;
}

section p {
    padding: 8px 6px;
    font-size: 10px;
    font-weight: bold;
}

small {
    font-size: 12px;
}

svg {
    fill: var(--color);
    display: inline-block;
    height: 32px;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    position: relative;
    right: 2px;
    top: 2px;
    width: 298px;
}

td {
    border: 2px solid;
    padding: 4px 0 4px 6px;
    white-space: nowrap;
}

td a {
    display: block;
    font-size: 21px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    width: 280px;
}

td a b {
    display: table-cell;
    height: 32px;
    vertical-align: middle;
}

td a svg {
    position: absolute;
    right: 0;
    top: 0;
}

td small {
    background: var(--color);
    border-radius: 3px;
    color: var(--background);
    display: inline-block;
    font-size: 8px;
    padding: 1px 0 2px 0;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    width: 32px;
}

th {
    border: 2px solid;
    padding: 3px 6px;
    text-align: left;
}

th small {
    display: block;
    width: 134px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

time {
    display: inline-block;
    font-size: 27px;
    height: 32px;
    vertical-align: middle;
}

time b {
    display: inline-block;
    text-align: center;
    width: 20px;
}

time b:nth-child(3), time b:last-child {
    width: 10px;
}
