* {
    font: 14px -apple-system, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

body {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
}

body > * {
    ;
}

svg {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid;
    padding: 6px;
}

th {
    text-align: left;
}

time {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

time b {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 20px;
}

time b:nth-child(3), time b:last-child {
    width: 10px;
}

@media (prefers-color-scheme: dark) {
    
}

svg, time {
    background: red;
}

/*
 
 
 header a {
 text-decoration: none;
 }
 
 header h1 {
 font-size: 34.0;
 font-weight: bold;
 margin-top: 1px;
 }
 
 header h2 {
 font-size: 1em;
 font-weight: normal;
 }
 
 hr {
 visibility: hidden;
 }
 
 main {
 margin-top: 64px;
 }
 
 main h1 {
 font-size: 19px;
 }
 
 main h2 {
 font-size: 1em;
 margin: 1px 0;
 }
 
 main h3 {
 font-size: 1em;
 font-weight: normal;
 }
 
 main section {
 margin-top: 32px;
 }
 
 main section h3 {
 font-weight: bold;
 }
 
 main section p {
 clear: both;
 float: right;
 font-size: 9px;
 font-weight: bold;
 padding: 2px 0 22px 0;
 text-align: right;
 text-transform: uppercase;
 width: 224px;
 }
 
 main section p b {
 float: left;
 }
 
 main section p span {
 display: block;
 margin: 1px 0;
 }
 
 main section table {
 float: left;
 width: 50%;
 }
 
 main section td {
 text-align: right;
 }
 
 main section td svg {
 position: relative;
 top: 6px;
 }
 
 main table a {
 display: block;
 font-weight: bold;
 text-decoration: none;
 }
 
 main table a b {
 display: block;
 font-size: 19px;
 margin: 6px 0 1px 0;
 }
 
 main table a span {
 display: block;
 font-weight: normal;
 margin: 1px 0 4px 0;
 }
 
 main > table {
 margin-bottom: 25px;
 }
 
 main > table svg {
 float: right;
 margin-top: 14px;
 }
 
 nav {
 height: 1px;
 margin: 0 11px 0 0;
 }
 
 nav a {
 display: block;
 float: right;
 margin-top: 4px;
 }
 
 */
